**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/venv
**/.venv
**/pip-log.txt
**/pip-delete-this-directory.txt
**/.pytest_cache
**/.coverage
**/.env
**/.env.local
**/node_modules
**/.git
**/.gitignore
**/.dockerignore
**/README.md
**/*.md
**/docker-compose*.yml
**/Dockerfile*
